Ex1/Client-Servidor/.vs/Client-Servidor/FileContentIndex/5a98aa58-c818-4fb3-8867-be55aec273b2.vsidx
Ex1/Client-Servidor/.vs/Client-Servidor/FileContentIndex/20e171f1-bdad-4df3-8df4-912be0093f40.vsidx
Ex1/Client-Servidor/.vs/Client-Servidor/FileContentIndex/35bd625a-e5fe-4280-a941-c70fddabf880.vsidx
*.vsidx
